<h3>Documento</h3>
<br>
<div *ngIf="document" class="form-group">
  <div class="row">
    <div class="col-sm-12">
      <table class='table table-sm'>
        <tbody>
          <tr>
            <th scope="row">Id:</th>
            <td>{{document.id}}</td>
          </tr>
          <tr>
            <th scope="row">Título:</th>
            <td>{{document.titulo}}</td>
          </tr>
          <tr>
            <th scope="row">Tipo:</th>
            <td *ngIf="document.tipo==='monografia'">Monografia</td>
            <td *ngIf="document.tipo==='artigo'">Artigo</td>
          </tr>
          <tr>
            <th scope="row">Curso:</th>
            <td>{{document.nomeCurso}}</td>
          </tr>
          <tr>
            <th scope="row">Cidade:</th>
            <td >{{document.nomeCidade}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

  <div class="row">
    <div class="col-sm-6 col-button-left">
      <button type="button" class="btn btn-danger" routerLink="/document/delete/{{document.id}}">Excluir</button>
    </div>
    <div class="col-sm-6 col-button-right">
      <button type="button" class="btn btn-success" routerLink="/document/update/{{document.id}}">Alterar informações</button>
    </div>
  </div>
</div>
