<h3>Documentos</h3>
<br>
<p-table [value]="documents">
  <ng-template pTemplate="header">
    <tr>
      <th>Título</th>
      <th>Tipo</th>
      <th>Instituição</th>
      <th>...</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-document>
    <tr routerLink="/document/update/{{document.id}}">
      <td>{{document.titulo}}</td>
      <ng-container *ngIf="document.tipo==='monografia'">
        <td>Monografia</td>
      </ng-container>
      <ng-container *ngIf="document.tipo==='artigo'">
        <td>Artigo</td>
      </ng-container>
      <td>{{document.siglaInstituicao}}</td>
      <td>
        <p-button styleClass="ui-button-danger" routerLink="/document/delete/{{document.id}}" label="Excluir" ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>


