<h3>Documentos</h3>
<hr>
<table *ngIf="documents" class='table table-hover'>
  <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Título</th>
      <th scope="col">Tipo</th>
      <th scope="col">Curso</th>
      <th scope="col">Cidade</th>
      <th scope="col">Instituição</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let document of documents" routerLink="/document/{{document.id}}">
      <th>{{document.id}}</th>
      <td>{{document.titulo}}</td>
      <ng-container *ngIf="document.tipo==='monografia'">
        <td>Monografia</td>
      </ng-container>
      <ng-container *ngIf="document.tipo==='artigo'">
        <td>Artigo</td>
      </ng-container>
      <td>{{document.nomeCurso}}</td>
      <td>{{document.nomeCidade}}</td>
      <td>{{document.siglaInstituicao}}</td>
    </tr>
  </tbody>
</table>
