<h3>Pessoas</h3>
<br>
<p-table [value]="people">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Caráter</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person>
      <tr routerLink="/person/{{person.id}}">
        <td>{{person.nome}}</td>
        <ng-container *ngIf="person.tipoPessoa==='orientando'">
          <td>Aluno</td>
        </ng-container>
        <ng-container *ngIf="person.tipoPessoa==='orientador'">
          <td>Orientador</td>
        </ng-container>
      </tr>
    </ng-template>
  </p-table>
