<div class="ui-g ui-fluid">

    <div class="ui-g-12 ui-md-6">
      <div class="ui-inputgroup">
        <label>Título*</label>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-file"></i></span>
        <textarea pInputTextarea style="height:100px;" [(ngModel)]="document.titulo"></textarea>
      </div>
    </div>

    <div class="ui-g-12 ui-md-6">
      <div class="ui-inputgroup">
        <label>Sub-título*</label>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-file"></i></span>
        <textarea pInputTextarea style="height:100px;" [(ngModel)]="document.subTitulo"></textarea>
      </div>
    </div>

    <div class="ui-g-12 ui-md-6">
      <div class="ui-inputgroup">
        <label>Título em inglês*</label>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-file"></i></span>
        <textarea pInputTextarea style="height:100px;" [(ngModel)]="document.title"></textarea>
      </div>
    </div>

    <div class="ui-g-12 ui-md-3">
      <div class="ui-inputgroup">
        <label>Ano*</label>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-file"></i></span>
        <input type="number" [(ngModel)]="document.ano" pInputText/>
      </div>
    </div>

    <div class="ui-g-12 ui-md-3">
      <div class="ui-inputgroup">
        <label>Cidade/Estado*</label>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-file"></i></span>
        <input type="text" [(ngModel)]="document.nomeCidade" pInputText/>
      </div>
    </div>

    <div class="ui-g-12 ui-md-6">
      <div class="ui-inputgroup">
        <label>Escolaridade*</label>
      </div>
      <div class="ui-inputgroup ui-fluid">
        <p-selectButton [options]="escolaridades" [(ngModel)]="document.nivelEscolarCurso" single="Single"></p-selectButton>
      </div>
    </div>

    <div class="ui-g-12 ui-md-6">
      <div class="ui-inputgroup">
        <label>Título acadêmico*</label>
      </div>
      <div class="ui-inputgroup">
        <p-selectButton [options]="tituloAcademico" [(ngModel)]="document.tituloAcademico" single="Single"></p-selectButton>
      </div>
    </div>


    <div class="ui-g-12 ui-md-9">
      <div class="ui-inputgroup">
        <label>Instituição*</label>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-file"></i></span>
        <input type="text" [(ngModel)]="document.nomeInstituicao" pInputText/>
      </div>
    </div>


    <div class="ui-g-12 ui-md-3">
      <div class="ui-inputgroup">
        <label>Sigla da instituição*</label>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-file"></i></span>
        <input type="text" [(ngModel)]="document.siglaInstituicao" pInputText/>
      </div>
    </div>

    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <label>Curso*</label>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-file"></i></span>
        <input type="text" [(ngModel)]="document.nomeCurso" pInputText/>
      </div>
    </div>


    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <label>Dedicatória</label>
      </div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-file"></i></span>
        <textarea pInputTextarea style="height:100px;" [(ngModel)]="document.dedicatoria"></textarea>
      </div>
    </div>

  </div>
