<h3>Nova pessoa</h3>
<br>
<div class="form-group">
  <div class="row">
    <div class="col-sm-7">
      <label>Nome</label>
      <input  class="form-control" type="text" placeholder="Fulano da Silva" size="40" maxlength="50" [(ngModel)]="person.nome">
    </div>
    <div class="col-sm-5">
      <label>Caráter</label>
      <select class="form-control" [(ngModel)]="person.tipoPessoa">
          <option value="orientando" >Aluno</option>
          <option value="orientador" >Orientador</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <label>Login</label>
      <input class="form-control" type="login" placeholder="fulano123" size="40" maxlength="100" [(ngModel)]="person.login">
    </div>
    <div class="col-sm-3">
      <label>Senha</label>
      <input class="form-control" type="password" [(ngModel)]="person.senha">
    </div>
    <div class="col-sm-4">
      <label>Repita sua senha</label>
      <input class="form-control" type="password" [(ngModel)]="person.senha">
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-sm-6 col-button-left">
      <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
    </div>
    <div class="col-sm-6 col-button-right">
      <button type="button" class="btn btn-success" (click)="create()">Salvar</button>
    </div>
  </div>
</div>
