<h3>Excluir documento</h3>
<br>
<div *ngIf="document" class="form-group">
  <div class="row">
    <div class="col-sm-12">
      <table class='table table-sm'>
        <tbody>
          <tr>
            <th scope="row">Id:</th>
            <td>{{document.id}}</td>
          </tr>
          <tr>
            <th scope="row">Título:</th>
            <td>{{document.title}}</td>
          </tr>
          <tr>
            <th scope="row">Tipo:</th>
            <td *ngIf="document.documentType==='monografia'">Monografia</td>
            <td *ngIf="document.documentType==='artigo'">Artigo</td>
          </tr>
          <tr>
            <th scope="row">Curso:</th>
            <td>{{document.courseName}}</td>
          </tr>
          <tr>
            <th scope="row">Cidade:</th>
            <td >{{document.cityName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-button-left">
        <p-button label="Cancelar" (click)="cancel()" icon="pi pi-file" styleClass="ui-button-info"  [ngStyle]="{ 'float': 'left'}"></p-button>
    </div>
    <div class="col-sm-6 col-button-right">
        <p-button styleClass="ui-button-danger" [ngStyle]="{ 'float': 'right'}" (click)="delete()" label="Excluir" ></p-button>
    </div>
  </div>
</div>
